/* Checkbox styling */
input[type="checkbox"] {
    appearance: none;
    position: relative;
    height: 18px;
    width: 18px;
    color: green;
    user-select: none;
    outline: none;
    border: 1px solid gray;
    box-sizing: content-box;
}
input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}
input[type="checkbox"]::before {
    content: "\2713"; /* ✓ -> Unicode Zeichen */
    font-size: 24px;
    visibility: hidden;
    color: green;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(1.2);
}

input[type=checkbox]:focus {
    border: 1px solid orange;
    border-radius: 4px;
}

input[type="checkbox"]:disabled {
    background: #ddd;
    color: green;
}

.cookie-consent-checkbox-accept {
    margin-top: 6px;
}

input[type=checkbox]:hover, label:hover {
    cursor: pointer;
}

.checkbox-partial-indicator {
    position: absolute;
    background: dodgerblue;
    width: 12px;
    height: 12px;
    pointer-events: none;
}

#container[dir=rtl] .checkbox-none-indicator {
    left: auto;
    right: 9px;
}
#container[dir=rtl] #details-container > header {
    text-align: initial;
}
#container[dir=rtl] #details-container > header > .heading {
    margin-inline-start: 65px;
}

.checkbox-none-indicator {
    background: gray;
    width: 12px;
    height: 4px;
    position: absolute;
    top: calc(50% - 2px);
    pointer-events: none;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
