/*
button {
    color: white;
    background: royalblue;
    font-weight: bold;
    border-radius: 6px !important;
    transition: background 0.4s;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    color: white !important;
    background: #1B37E1 !important;
    opacity: 1;
}
*/
